[submodule "ufs-weather-model"]
    path = sorc/hafs_forecast.fd
    url = https://github.com/samtrahan/ufs-weather-model.git
    branch = axiom-azure
[submodule "UFS_UTILS"]
    path = sorc/hafs_utils.fd
    url = https://github.com/samtrahan/UFS_UTILS.git
    branch = axiom-azure
[submodule "gfdl-tracker"]
    path = sorc/hafs_tracker.fd
    url = https://github.com/samtrahan/gfdl-tracker.git
    branch = axiom-azure
[submodule "NCEPLIBS-pyprodutil"]
    path = ush/produtil_repo
    url = https://github.com/samtrahan/NCEPLIBS-pyprodutil.git
    branch = axiom-azure
[submodule "sorc/hafs_gsi.fd"]
    path = sorc/hafs_gsi.fd
    url = https://github.com/samtrahan/GSI.git
    branch = axiom-azure
[submodule "GPLOT"]
    path = sorc/hafs_graphics.fd/hrd_gplot
    url = https://github.com/hafs-community/GPLOT.git
    branch = support/HAFS
[submodule "hafs_graphics"]
    path = sorc/hafs_graphics.fd/emc_graphics
    url = https://github.com/hafs-community/hafs_graphics.git
    branch = support/HAFS
[submodule "obs_preproc"]
    path = sorc/hafs_tools.fd/sorc/hafs_obs_preproc/obs_preproc
    url = https://github.com/hafs-community/obs-preproc.git
    branch = support/HAFS
